<a href="https://colab.research.google.com/github/gurtaransingh/Machine-Learning-using-PyCaret/blob/main/Temperature_Prediction_Using_Different_Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LinearRegression


import tensorflow as tf
from tensorflow import keras

from sklearn import preprocessing

In [ ]:
df=pd.read_csv("/content/weatherHistory.csv")

df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [ ]:
print(df.columns)

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')
(36903, 12)

In [ ]:
print(df.shape)

(36903, 12)

In [ ]:
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,36903.000000,36903.000000,36903.000000,36903.000000,36903.000000,36903.000000,36903.0,36903.000000
mean,12.020123,10.921791,0.718558,10.928456,189.607430,10.101372,0.0,1001.480701
std,9.522323,10.655240,0.193675,7.025900,107.049411,3.758558,0.0,125.129638
min,-16.666667,-24.233333,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.994444,2.527778,0.590000,5.892600,118.000000,9.708300,0.0,1011.910000
50%,12.088889,12.088889,0.770000,9.982000,186.000000,9.982000,0.0,1016.670000
75%,18.883333,18.883333,0.880000,14.312900,290.000000,11.270000,0.0,1021.410000
max,39.905556,38.377778,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [ ]:
df.isnull().any()

Formatted Date              False
Summary                     False
Precip Type                 False
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
dtype: bool

In [ ]:
df['Precip Type'].value_counts()

rain    32827
snow     4076
Name: Precip Type, dtype: int64

In [ ]:
df.loc[df['Precip Type'].isnull(),'Precip Type']='rain'

In [ ]:
df.loc[df['Precip Type']=='rain','Precip Type']=1
df.loc[df['Precip Type']=='snow','Precip Type']=0

In [ ]:
df.drop('Summary', inplace=True, axis=1)

In [ ]:
df.head()

,Formatted Date,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,1,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,1,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,1,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,1,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,1,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [ ]:
df.drop('Daily Summary', inplace=True, axis=1)

In [ ]:
df.head()

,Formatted Date,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
0,2006-04-01 00:00:00.000 +0200,1,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13
1,2006-04-01 01:00:00.000 +0200,1,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63
2,2006-04-01 02:00:00.000 +0200,1,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94
3,2006-04-01 03:00:00.000 +0200,1,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41
4,2006-04-01 04:00:00.000 +0200,1,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51

In [ ]:
df_num=df.pop('Temperature (C)')

In [ ]:
X=df
y=df_num

print(X)
print(y)

                      Formatted Date Precip Type  Apparent Temperature (C)  \
0      2006-04-01 00:00:00.000 +0200           1                  7.388889
1      2006-04-01 01:00:00.000 +0200           1                  7.227778
2      2006-04-01 02:00:00.000 +0200           1                  9.377778
3      2006-04-01 03:00:00.000 +0200           1                  5.944444
4      2006-04-01 04:00:00.000 +0200           1                  6.977778
...                              ...         ...                       ...
36898  2010-12-22 10:00:00.000 +0100           1                  1.933333
36899  2010-12-22 11:00:00.000 +0100           1                  4.511111
36900  2010-12-22 12:00:00.000 +0100           1                  6.838889
36901  2010-12-22 13:00:00.000 +0100           1                  8.027778
36902  2010-12-22 14:00:00.000 +0100           1                  8.594444

       Humidity  Wind Speed (km/h)  Wind Bearing (degrees)  Visibility (km)  \
0          0.89            14.1197                   251.0          15.8263
1          0.86            14.2646                   259.0          15.8263
2          0.89             3.9284                   204.0          14.9569
3          0.83            14.1036                   269.0          15.8263
4          0.83            11.0446                   259.0          15.8263
...         ...                ...                     ...              ...
36898      0.98            13.2825                   149.0           6.9069
36899      0.93            13.6850                   160.0           8.0500
36900      0.89            10.7226                   169.0           8.0500
36901      0.92             5.6189                   161.0           7.8085
36902      0.93             4.6690                   159.0           8.0500

       Loud Cover  Pressure (millibars)
0             0.0               1015.13
1             0.0               1015.63
2             0.0               1015.94
3             0.0               1016.41
4             0.0               1016.51
...           ...                   ...
36898         0.0               1013.27
36899         0.0               1012.87
36900         0.0               1012.38
36901         0.0               1011.83
36902         0.0               1011.49

[36903 rows x 9 columns]
0        9.472222
1        9.355556
2        9.377778
3        8.288889
4        8.755556
           ...
36898    4.911111
36899    7.066667
36900    8.594444
36901    8.638889
36902    8.594444
Name: Temperature (C), Length: 36903, dtype: float64

In [ ]:
df.head()

,Formatted Date,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
0,2006-04-01 00:00:00.000 +0200,1,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13
1,2006-04-01 01:00:00.000 +0200,1,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63
2,2006-04-01 02:00:00.000 +0200,1,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94
3,2006-04-01 03:00:00.000 +0200,1,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41
4,2006-04-01 04:00:00.000 +0200,1,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51

In [ ]:
df.drop('Formatted Date', inplace=True, axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
X_train

,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
28980,1,3.622222,0.51,22.5400,290.0,11.2700,0.0,1023.00
13659,1,11.677778,0.80,3.5581,297.0,15.8263,0.0,1016.98
36705,0,-7.005556,0.92,11.3505,272.0,3.6547,0.0,1017.88
28212,1,15.000000,0.78,25.7600,170.0,9.9820,0.0,0.00
30079,1,22.777778,0.71,0.0000,0.0,9.9820,0.0,1016.70
...,...,...,...,...,...,...,...,...
16850,1,12.955556,0.70,8.9355,182.0,14.8764,0.0,1012.48
6265,1,14.511111,0.84,5.1198,137.0,14.5866,0.0,1018.20
11284,0,-0.994444,0.96,3.3488,311.0,3.8801,0.0,1017.64
860,1,19.161111,0.82,0.7728,121.0,9.9820,0.0,1012.44
15795,1,2.500000,0.90,10.8192,223.0,14.0875,0.0,1015.48

Linear Regression

In [ ]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [ ]:
prediction=model.predict(X_test)

In [ ]:
np.mean((prediction-y_test)**2)

0.8912673207497025

In [ ]:
prediction-y_test

30896    0.503049
28857    1.510892
28075   -0.411694
28764   -1.335463
7794     0.442126
           ...
1592    -1.467189
9022     2.321382
21964   -0.369678
14148   -0.665489
10643    2.295723
Name: Temperature (C), Length: 11071, dtype: float64

Polynomial Regression

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

poly=PolynomialFeatures(degree=4)
X_poly=poly.fit_transform(X_train)

poly.fit(X_poly,y_train)
lin2=LinearRegression()
lin2.fit(X_poly,y_train)

LinearRegression()

In [ ]:
prediction2=lin2.predict(poly.fit_transform(X_test))

np.mean((prediction2-y_test)**2)

0.09760091561309753

Decision Tree Regression

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(random_state=0)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [ ]:
prediction3=regressor.predict(X_test)
np.mean((prediction3-y_test)**2)

0.013248992752726216

In [ ]:
#ANOTHER WAY TO COMPARE VARIOUS MODELS IN ML IS BY USING PYCARRET

#JUST AN EXAMPLE
!pip install pycaret &> /dev/null
from pycaret.datasets import get_data

#https://github.com/psrana/Machine-Learning-using-PyCaret